*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
display: flex;
min-height: 100vh;
align-items: center;
justify-content: center;
background: rgba(30, 33, 48, 0.9);
}
.container{
position: relative;
width: 500px;
}
.navbar{
display: flex;
justify-content: space-between;
background: #4cbb17;
padding: 20px 40px;
}
.navbar .logo,.navbar .toggle{
cursor: pointer;
font-size: 25px;
letter-spacing: 2px;
font-weight: 800;
color: white;
}
.listItems{
position: relative;
perspective: 400px;
}
.listItems li{
text-align: center;
list-style: none !important;
background: whitesmoke;
height: 100px;
line-height: 100px;
transform-origin: top;
transform: rotateX(-90deg);
transition: all ease-out 0.4s;
border: 1px solid rgba(102, 100, 102, 0.7);
opacity: 0;
transition-delay: calc(var(--j)*0.3s);
}
.listItems li.active{
transform: rotateX(0deg);
transition: all ease-in-out 0.3s;
opacity: 1;
transition-delay: calc(var(--i)*0.3s);
}
.listItems li a{
text-decoration: none !important;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 3px;
color: #4cbb17;
display: block;
}
.listItems li:hover a{
color: white;
background: #4cbb17;
}